<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajax Assignment</title>
    <link rel="stylesheet" href="../dist/main.css">
</head>

<body>
    <!--Navbar-->
    <nav>
        <a class="navbar-brand" href="../index.html"><img class="logo" src="../images/folder_icon.png" alt="logo"></a>

        <div role="navigation">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="../index.html">Gifs</a></li>
                <li role="presentation"><a href="stickers.html">Stickers</a></li>
                <li role="presentation" class="active"><a href="#">Upload</a></li>
            </ul>
        </div>
    </nav>
    <!--/end navbar-->

    <!--File inputs-->
    <div class="searchfield container">
        <input type="url" placeholder="Source url" id="source-url" class="not-search-input">
        <input type="text" placeholder="File path" id="filepath" class="not-search-input">
        <button id="write" class="btn btn-primary" onclick="upload.obtainSource()">Upload</button>
    </div>
    <!--/end file inputs-->

    <div id="result"></div>

    <!--script links-->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
</body>

</html>
